# Local clones of external repos
external/# Ignore files and folders that start with an underscore
_*/
_*
*.env
*.pyc
*.log

# Ignore all folders inside pipeline_configs/
pipeline_configs/*/

# Ignore status files (generated during pipeline execution)
pipeline_configs/*_status.yaml

# Ignore all files and folders inside external/
external/ERnet-v2/*
